---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-primary-color: black;
$text-secondary-color: gray;
$accent-color: #3D829E;

$box-border: 3px solid black;

$transition-duration: 350ms;

$screen-small: 425px;
$screen-medium: 768px;
$screen-large: 1024px;

:root {
  --base-color: white;
  --contrast-color: black;
  --accent-color: #DEFAD2;

  --color-transition: 250ms ease-in-out 0ms;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'normalize',
        'effects/appear',
        'typography',
        'subscribe-form',
        'mixins/has-nav-link',
        'mixins/has-text-link',
        'mixins/is-icon-link',
        'layout/page',
        'layout/post',
        'layout/icon',
        'layout/work-with-me',
        'components/battle-box',
        'components/cta-button',
        'components/hero-box',
        'components/site-header',
        'components/site-content',
        'components/site-footer',
        'terracycle';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
