---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-primary-color: black;
$text-secondary-color: gray;

$box-border: 3px solid black;

$transition-duration: 250ms;

$screen-small: 425px;
$screen-medium: 768px;
$screen-large: 1024px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'normalize',
        'typography',
        'layout/default',
        'layout/header',
        'layout/main',
        'layout/footer';
