@mixin has-text-link {
  a {
    color: $text-primary-color;
    text-decoration: none;
    border-bottom: $box-border;
    border-bottom-color: lightgray;
    transition: border-bottom-color $transition-duration;
    &:hover, &:focus {
      outline: none;
      border-bottom-color: black;
    }
  }
}
