<div class="profile">
  <div class="profile__image"><img src="/assets/images/author.jpg" alt="Jaime's headshot" /></div>
  <div class="profile__text">
    <h3>Hi! I’m Jaime</h3>
    <p>I am a wife and mom of 3 who loves simple, eco-friendly, zero waste living.</p>
    <p>Our family’s simple living started with decluttering and has grown to a love of tiny living.</p>
    <p>Now I write about decluttering, cozy living, and our journey towards living tiny.</p>

    <div class="profile__icons">
      <a href="https://facebook.com/JaimeDeclutters"><i class="fa fa-facebook"></i></a>
      <a href="mailto:jaimedurheim@gmail.com"><i class="fa fa-envelope"></i></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
    </div>
  </div>
</div>
