<header class="site-header">
  <nav class="navbar">
    <ul class="navbar-list navbar-list--logo">
      <li class="navbar-list__item navbar-list__item--current"><a href="/" data-hover="Jaime Declutters">Jaime Declutters</a></li>
    </ul>
    <ul class="navbar-list">
      <li class="navbar-list__item"><a href="#!" data-hover="Resources">Resources <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul>
          <li><a href="/recycle/">Recycle</a></li>
          <li><a href="/books/">Books</a></li>
          <li><a href="/blog/">Blog Archive</a></li>
        </ul>
      </li>
      <li class="navbar-list__item {% if page.url == "/archive/" %}navbar-list__item--current{% endif %}"><a href="/madison-wi/" data-hover="Madison, WI">Madison, WI</a></li>
    </ul>
  </nav>
</header>
