<div class="page-tabs">
  <div class="photo-page">
    <a href="/photos/before-after/" class="photo-page-link {% if page.url == "/photos/before-after/" %}active{% endif %}">
      <div class="photo-page-image" style="background-image: url({{ site.cover }})">
        <div class="image-overlay">
          <span class="photo-page-title">
            Befores & Afters
          </span>
        </div>
      </div>
    </a>
  </div>
  <div class="photo-page">
    <a href="/photos/home-tour/" class="photo-page-link {% if page.url == "/photos/home-tour/" %}active{% endif %}">
      <div class="photo-page-image" style="background-image: url({{ site.url }}/assets/images/photo-pages/home-tour/upper-bench.jpg)">
        <div class="image-overlay">
          <span class="photo-page-title">
            My Home Tour
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
