<div id="mlb2-1320882" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1320882">
  <div class="ml-form-embedWrapper embedForm">
    <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
      <div class="ml-form-embedContent">
        <h4>Monthly<span class="secondary">Newsletter</span></h4>
      </div>
      <div class="ml-form-container">
        <form class="form-container__form ml-block-form" action="https://app.mailerlite.com/webforms/submit/k7m8l1" data-code="k7m8l1" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow">
              <div class="ml-field-group ml-field-name ml-validate-name ml-validate-required">
                <input type="text" class="form-control" data-inputmask="" name="fields[name]" value="" placeholder="Name">
              </div>
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
              </div>
            </div>
          </div>
          <input type="hidden" name="ml-submit" value="1">
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Subscribe</button>
            <button disabled="disabled" style="display: none;" type="button" class="loading">
              <div class="ml-form-embedSubmitLoad"></div>
            </button>
          </div>
        </form>
        <div class="form-container__extra">
          <div class="coupon">
            <div class="coupon-badge">
              <div class="coupon-content">
                <span class="coupon-amount">50%</span>
                <span class="coupon-label">Coupon</span>
              </div>
            </div>
          </div>
          <ul class="feature-list">
            <li>Monthly</li>
            <li>Discounts</li>
            <li>New Content</li>
            <li>Free Events</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ml-form-successBody row-success" style="display: none">
      <div class="ml-form-successContent">
        <h4>Welcome!</h4>
        <p>You will be receiving your first newsletter shortly</p>
      </div>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_1320882() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-1320882 .row-success').show();
      $('.ml-subscribe-form-1320882 .row-form').hide();
    }
</script>
<img src="https://track.mailerlite.com/webforms/o/1320882/k7m8l1?vd890ed88b3a28c805acc70e1a88fa27c" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?vd890ed88b3a28c805acc70e1a88fa27c" type="text/javascript"></script>
