html {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
}
body {
  font-family: 'Manjari', sans-serif;
}

p.disclaimer {
  color: $text-secondary-color;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.25rem;
  max-width: 60rem;
  margin: 0 auto;
}
