<div class="benefit-box">
  <h2>Save Time and Take Back Control of Your Home with Jaime Declutters</h2>
  <ul>
    <li>
      <h3>Create a Home You Will Enjoy</h3>
      <p>You'll spend less time tidying so you can relax and focus on your loved ones.</p>
    </li>
    <li>
      <h3>Save Money on Duplicates</h3>
      <p>You'll no longer need to run to the store to get what you can't find.</p>
    </li>
    <li>
      <h3>Make Your Home Feel Bigger</h3>
      <p>You don't need a bigger home to have more space for your family.</p>
    </li>
  </ul>
  {% include components/cta-button.html %}
</div>
