<div class="care-box">
  <div class="description">
    <h2>I don't just care about your home.<br />I care about you.</h2>
    {% include components/cta-button.html %}
  </div>
  <div class="quote">
    "My son's room was an absolute MESS. Jaime worked with our budget and made decluttering easy. Instead of feeling stressed, we had fun! We love the changes and can't wait to work with Jaime again in my room!" - Tiffany
  </div>
  <img src="{{site.url}}/assets/images/home/murphy-bed-down.jpg" />
</div>
