<form class="form--contact" action="https://formspree.io/jaimedurheim@gmail.com" method="POST">
  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="_replyto" placeholder="Email" required>
  <textarea name="message" placeholder="How can I help?" rows="10" required></textarea>
  <input type="hidden" name="_next" value="{{ "/thanks/" | prepend: site.baseurl }}" />
  <input type="hidden" name="_subject" value="Jaime Declutters - Contact Message" />
  <input type="text" name="_gotcha" style="display:none" />
  <button type="submit">Send</button>
</form>
