<form class="form--contact" action="https://formspree.io/jaimedurheim@gmail.com" method="POST">
  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="_replyto" placeholder="email@example.com" required>
  <select name="type">
    <option value="declutter">Declutter</option>
    <option value="chat">Chat</option>
    <option value="design">Design</option>
    <option value="other">Other</option>
  </select>
  <textarea name="message" placeholder="How can we work together?" rows="5" required></textarea>
  <input type="hidden" name="_next" value="{{ "/thanks/" | prepend: site.baseurl }}" />
  <input type="hidden" name="_subject" value="Jaime Declutters - Contact Message" />
  <input type="text" name="_gotcha" style="display:none" />
  <button type="submit">Send</button>
</form>
