<div class="philosophy-box">
  <h2>Is Your Home Causing You Stress?</h2>
  <ul>
    <li>Jackets & shoes pile on the floor</li>
    <li>Food gets lost in the pantry</li>
    <li>Papers continue to stack up</li>
    <li>You can't park in your garage</li>
    <li>You struggle to stay organized</li>
    <li>You can't walk in your basement</li>
  </ul>
  <p>If so, you need to declutter. After working with me, you'll have a stress-free home that is easy to maintain so you can enjoy your space.</p>
  <div class="cta-container">
    {% include components/cta-button.html %}
  </div>
  <img src="{{site.url}}/assets/images/home/dining-table.jpg" />
</div>
