<div class="possibility-box" id="possibility-box">
  <img src="{{site.url}}/assets/images/home/murphy-bed-up.jpg" />
  <div class="possibility-box__content">
    <h2>A Clutter-Free Home You Love is Possible</h2>
    <p>Inviting someone into your home can be embarrassing, but you don't have to feel that way with me. It's a joy to get to know you, sift through the piles, and help you reach your goals.</p>
    <a href="#" class="expand-link show">Continue Reading &rsaquo;</a>
    <div class="possibility-box__expand">
      <p>During the free consultation you'll be able to tell me about the areas causing you stress. I'll answer your questions and describe how I can help. You can tackle the clutter by yourself, but it's easier and more fun together!</p>
      <p>Jaime Declutters is an investment that will save you stress, time, and money in the future. You'll have a home you love, that is to maintain, and fits your lifestyle for years to come!</p>
      <div class="cta-container">
        {% include components/cta-button.html %}
      </div>
      <a href="#possibility-box" class="collapse-link smooth-scroaller">Collapse &lsaquo;</a>
    </div>
  </div>
</div>

<script async type="text/javascript">
  const expandLink = document.querySelector('.possibility-box a.expand-link');
  const collapseLink = document.querySelector('.possibility-box a.collapse-link');

  expandLink.addEventListener('click', (e) => {
    e.preventDefault();

    const expandBox = document.querySelector('.possibility-box .possibility-box__expand');

    expandLink.classList.remove('show');
    expandBox.classList.add('show');
  })

  collapseLink.addEventListener('click', (e) => {
    const expandBox = document.querySelector('.possibility-box .possibility-box__expand');

    expandLink.classList.add('show');
    expandBox.classList.remove('show');
  })

</script>
