<div class="pricing-box__container">
  <div class="pricing-box">
    <h2>Declutter by Hour</h2>
    <div class="price">$60/hr</div>
    <ul>
      <li>Cost of supplies and installation will be agreed upon and quoted separately.</li>
      <li>Allows flexibility to tackle different areas depending on daily need.</li>
    </ul>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
  <div class="pricing-box">
    <h2>Declutter by Project</h2>
    <div class="price">Custom</div>
    <ul>
      <li>I quote an entire decluttering project (including time, supplies, and installation).</li>
      <li>Allows clarity of the outcome and cost upfront so you can relax.</li>
    </ul>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
</div>
