<div class="pricing-box__container">
  <div class="pricing-box">
    <h2>Online Decluttering Sessions</h2>
    <div class="price">$79/hr</div>
    <ul>
      <li>Available in all 50 states via Zoom.</li>
      <li>I guide you through the clutter so you don't get overwhelmed</li>
      <li>I recommend solutions that give you peace.</li>
      <li>I make sure that you end up with more space for the life you want.</li>
    </ul>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
    <div class="pricing-box__footer">I am also available to meet onsite if you live in the Madison, WI area.</div>
  </div>
</div>
