<div class="pricing-box__container">
  <div class="pricing-box">
    <h2>Declutter by Hour</h2>
    <div class="price">$60/hr</div>
    <ul>
      <li>Includes presorting with recommendations, helping with keep vs let go decisions, organizing keep items, and finding eco-friendly solutions for let go items.</li>
      <li>Cost of supplies and installation will be agreed upon and quoted separately.</li>
    </ul>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
  <div class="image-box">
    &nbsp;
  </div>
</div>
