<div class="navbar-menu-icon">
 <a href='javascript:;' aria-haspopup="true">&#9776;</a>
</div>
<nav class="navbar-menu" aria-label="menu">
  {% include /layout/navbar/social-list.html %}
  <ul class="navbar-menu-list">
    {% assign current = page.url | downcase | split: '/' %}
    {% include /layout/navbar/item.html path='about' title='About' %}
    {% include /layout/navbar/item.html path='portfolio' title='Portfolio' %}
    {% include /layout/navbar/item.html path='services' title='Services' %}
    {% include /layout/navbar/item.html path='small-homes' title='Small Homes' %}
    {% include /layout/navbar/item.html path='blog' title='Blog' %}
  </ul>
  {% include /layout/navbar/footer.html %}
</nav>
