---
layout: default
class: about
title: About
permalink: /about
cta-header: true
---

{% include components/hero-box.html
           title="About"
           subtitle="Jaime Declutters"
           background-image="home/jaime-porch.jpg"
           class="about" %}

{% include components/hit-points.html %}

<div class="about-intro">
  <div class="content">
    <p>When a home is easy to maintain, people are free to spend their time and money on family, friends, and adventures.</p>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
  <img class="side-image" src="{{site.url}}/assets/images/about/piggyback.jpg"/>
</div>

<div class="benefit-box">
  <h2>People describe Jaime as</h2>
  <ul>
    <li>
      <h3>Creative</h3>
      <p>I am creative in finding solutions when challenges arise.</p>
    </li>
    <li>
      <h3>Empathetic</h3>
      <p>I understand letting go can be difficult and will help you move forward.</p>
    </li>
    <li>
      <h3>Devoted</h3>
      <p>I am devoted to making your decluttering experience positive.</p>
    </li>
  </ul>
  <div class="description-footer">
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
</div>

<div class="about-change">
  <div class="content">
    <h2>When you declutter, life gets exciting</h2>
    <p>A home filled with possessions can be difficult to manage. This creates stress that consumes time and money, and leads to the belief that a happy life is out of reach.</p>
    <p>I simplify cluttered spaces so that others can be empowered to reach their dream lifestyle.</p>
    <p>When a home is easy to maintain, people are free to spend their time and money on family, friends, and adventures.</p>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
  <div class="image-container">
    <img src="{{site.url}}/assets/images/about/excited.jpg" />
  </div>
</div>

<div class="about-connection">
  <div class="content">
    <h2>When you hire Jaime you also get a friend</h2>
    <ul>
      <li>
        <h3>Listen:</h3>
        <p>I love learning about your life and goals while we declutter.</p>
      </li>
      <li>
        <h3>Comfort:</h3>
        <p>I ask how I can make this process easier for you.</p>
      </li>
      <li>
        <h3>Surprise:</h3>
        <p>I show up with a fun idea or item to help accomplish your goal.</p>
      </li>
    </ul>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
</div>

<div class="about-summary">
  <div class="image-container">
    <img src="{{site.url}}/assets/images/about/about.jpg"/>
  </div>
  <div class="content">
    <p><strong>Everyone deserves to pursue a lifestyle they love. But in order to move forward, people need to clear the clutter.</strong> I have three easy steps that will simplify your home while staying true to your style. If you are ready to get started, schedule your free consultation today.</p>
    <div class="cta-container">
      {% include components/cta-button.html %}
    </div>
  </div>
</div>
