.care-box {
  position: relative;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.65;
    z-index: 5;
  }

  div.description {
    flex: 0 0 100%;
    text-align: center;
    z-index: 10;

    @media screen and (min-width: $screen-medium) {
      flex: 0 0 40%;
    }

    h2 {
      margin: 2rem auto;
      max-width: 25rem;

      font-weight: bold;
      letter-spacing: 0.25rem;
    }
  }
  div.quote {
    z-index: 10;
    flex: 0 0 100%;
    padding: 2rem;
    background-color: white;
    text-align: left;
    font-size: 1.8rem;

    @media screen and (min-width: $screen-medium) {
      flex: 0 0 60%;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
