div.plan-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  div.plan {
    flex: 0 0 100%;

    padding: 0rem 2rem;

    text-align: center;

    @media screen and (min-width: $screen-medium) {
      flex: 1 0 50%;
    }

    h2 {
      margin: 2rem auto 3rem;

      font-weight: bold;
      letter-spacing: 0.25rem;
      text-align: center;
    }
    ol {
      text-align: left;
      margin-left: 0;
      padding: 0 2rem;
      list-style-type: none;
      li {
        position: relative;
        margin: 0 auto 3rem;
        max-width: 40rem;
        padding: 0 0 0 4rem;

        counter-increment: step-counter;
        &::before {
          text-align: center;
          content: counter(step-counter);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -2rem;
          font-size: 1.5rem;
          line-height: 3rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          border: 0.125rem solid black;
        }
      }
    }
    a {
      margin-bottom: 2rem;
    }
  }
  div.image {
    display: none;
    img {
      display: block;
      max-width: 100%;
    }
    @media screen and (min-width: $screen-medium) {
      display: block;
      flex: 0 0 50%;
      max-width: 28rem;
    }
  }
}
