footer.site-footer {
  flex: 0 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem 4rem;

  background-color: var(--contrast-color);
  color: var(--base-color);
}
