header.site-header {
  flex: 0 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1rem 0;

  background-color: var(--base-color);
  color: var(--contrast-color);

  &.over-image {
    background-color: transparent;
  }

  div.header-logo {
    flex: 0 0 100%;
    text-align: center;
    img {
      max-height: 10rem;
      max-width: calc(100% - 3rem);
    }

    @media screen and (min-width: 425px) {
      flex-basis: auto;
    }
  }

  nav.header-nav {
    flex: 1 1 auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      list-style: none;
      padding-left: 0;

      @media screen and (min-width: $screen-small) {
        justify-content: flex-end;
      }

      li {
        flex: 0 0 auto;
        margin: 1rem;
        &.active {

        }
        a.cta-button {
          border: 0.125rem solid black;
          border-radius: 1rem;

          font-size: 1.5rem;

          padding: 2rem 1rem;

          text-decoration: none;
          text-align: center;

          background-color: var(--contrast-color);
          color: var(--base-color);

          &:hover, &:focus {
            background-color: var(--accent-color);
            color: var(--contrast-color);
          }

        }
      }
    }
  }
}
