---
layout: default
---
{% if page.url == '/' %}
<div class="teaserimage top">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>
{% endif %}

{% include nav.html %}

<main class="content" role="main">
  <a name="topofpage"></a>
  <div class="page-content">
    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
    {{ content }}
  </div>
</main>

{% include footer.html %}

{% if page.url != '/' %}
  {% if site.logo %}
    <div class="blog-header">
      <a class="blog-logo bottom" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    </div>
  {% endif %}

<div class="teaserimage bottom">
    <div class="teaserimage-image-no-paralax" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>
{% endif %}
