.about-change {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  .content {
    flex: 0 0 100%;
    padding: 0 2rem;
    h2 {
      text-align: center;
      letter-spacing: 0.5rem;
      font-weight: bold;
      padding: 0 2rem 2rem;
    }
    p {
      letter-spacing: 0.25rem;
      text-align: justify;
    }
  }
  .cta-container {
    margin: 2rem 0;
  }
  @media screen and (min-width: $screen-medium) {
    .content {
      h2 {
        text-align: center;
        padding: 0;
      }
    }
  }
  @media screen and (min-width: $screen-large) {
    .content {
      padding: 0 20vw;
    }
  }
}
