.about-intro {
  display: flex;
  flex-wrap: wrap;
  div.content {
    flex: 0 0 100%;
    padding: 0 7.5vw;
    text-align: center;
    p {
      margin-top: 6rem;
      font-size: 2rem;
      letter-spacing: 0.25rem;
      text-align: center;
    }
  }
  .cta-button {
    display: inline-block;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $screen-medium) {
    flex-wrap: nowrap;
    margin-bottom: 2rem;

    div.content {
      padding: 0 20vw;
      p {
        margin-top: 8rem;
      }
    }
  }
}
