.about-intro {
  display: flex;
  flex-wrap: wrap;
  div.content {
    flex: 0 0 100%;
    padding: 0 7.5vw;
    p {
      margin-top: 20rem;
      font-size: 2rem;
      letter-spacing: 0.25rem;
      text-align: center;
    }
  }
  img.side-image {
    display: none;
    flex: 0 0 100%;
  }
  .image-container {
    display: block;
    flex: 0 0 100%;

    margin: 4rem 0;
    text-align: right;
    img.hexagons {
      transform: translateX(3rem);
      max-height: 12rem;
      max-width: 100%;
    }
  }
  .cta-button {
    display: inline-block;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: $screen-medium) {
    flex-wrap: nowrap;
    min-height: 100vh;
    margin-bottom: 4rem;

    div.content {
      flex: 0 0 50%;
      p {
        margin-top: 16rem;
        text-align: left;
      }
    }
    img.side-image {
      display: block;
      flex: 0 0 50%;
      object-fit: cover;
      object-position: left top;
      max-width: 100%;
      min-height: 100vh;
      max-height: 42rem;
      overflow: hidden;
    }
    .image-container {
      display: none;
    }
  }
}
