.site-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: $box-border;
  color: $text-secondary-color;
}

.site-footer__designed {
  padding: 1rem 2.5rem;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  @include has-nav-link;
  @media screen and (max-width: $screen-medium - 1px) {
    font-size: 0.8rem;
    flex: 0 0 100%;
    text-align: center;
  }
}
