main.landing {
  background-image: url('../assets/images/landing/couch-small.jpg'), linear-gradient(to top, #523C2E 0%, #838486 55%, #BDC5C4 93%, #a9aaa5 100%);
  background-image:
    -webkit-image-set(
      url('../assets/images/landing/couch-large.jpg') 1x,
      url('../assets/images/landing/couch.jpg') 2x
    ), linear-gradient(to top, #523C2E 0%, #838486 55%, #BDC5C4 93%, #a9aaa5 100%);
  background-image:
    image-set(
    url('../assets/images/landing/couch-large.jpg') 1x,
    url('../assets/images/landing/couch.jpg') 2x
    ), linear-gradient(to top, #523C2E 0%, #838486 55%, #BDC5C4 93%, #a9aaa5 100%);

  background-repeat: no-repeat;
  background-size: 55% auto;
  background-position: right top;
  @media screen and (min-width: $screen-medium) {
    background-position: right 75%;
  }

  min-height: 82.5vw;

  font-size: 1.25vw;
  @media screen and (max-width: $screen-medium) {
    font-size: 1.5vw;
  }
  @media screen and (max-width: $screen-small) {
    font-size: 1.75vw;
  }

  h1 {
    width: 95%;
    margin: 0.75em 0.25em;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    .spaced-heading {
      letter-spacing: 0.675em;
    }
    .subheading {
      width: 95%;
      display: block;
      word-spacing: -0.1em;
      letter-spacing: 0.375em;
      font-weight: 400;
      line-height: 1.25;
    }
  }
}

nav.landing-nav {
  margin: 3em 0 0;
  width: 45%;
}

ul.landing-links {
  display: table;
  margin: 0 auto;
  list-style: none;
  padding: 0 2em;
}

li.landing-link {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 0.2em;

  @include has-text-link;

  &--newsletter {
    display: block;
    a {
      background-color: $accent-color;
      text-transform: uppercase;
      border: none;
      border-radius: 0.25em;
      box-shadow: none;
      color: #ffffff;
      font-size: 1em;
      font-weight: 100;
      line-height: 1.25;
      padding: 0.75em 0.25em;
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 auto;
      transition: background-color $transition-duration;
      text-decoration: none;
      border-bottom: none;
      color: white;
      &:hover, &:focus {
        background-color: black;
      }
    }
    @media screen and (min-width: $screen-medium) {
      display: none;
    }
  }
}
