.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.services-list__item {
  flex: 0 0 20rem;
}

h2.services-list__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

ul.services-list__details, div.services-list__details {
  font-size: 1.25rem;
  p, li {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
}

.form--contact {
  max-width: 90%;
  margin: 0 auto 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  input, textarea {
    flex: 0 0 100%;
    max-width: 90%;
    min-width: 0;
    font-size: 1.25rem;
    border: 1px solid lightgray;
    margin: 0.5rem 0;
    padding: 0.25rem;
    transition: border-color $transition-duration;
    &:hover, &:focus {
      border-color: black;
      outline: none;
    }
  }
  .button-box {
    flex: 0 0 100%;
    text-align: center;
    button {
      display: block;
      margin: 0 auto;
      padding: 0.75rem;
      text-transform: uppercase;
      background-color: lightgray;
    }
  }
}
